<div class="h-full flex flex-col w-full">
    <!-- Page Header -->
    <div class="flex flex-col sm:flex-row sm:items-center justify-between gap-4 mb-6 -mt-2">
        <div>
            <h2 class="text-[36px] font-bold text-[#1F2B6C] tracking-tight mb-1">List Doctors</h2>
        </div>
    </div>

    <!-- Table Container -->
    <div class="bg-white rounded-[20px] border border-gray-300 flex-1 flex flex-col relative shadow-xs">
        <app-doctor-table class="flex-1 flex flex-col h-full" 
            [doctors]="doctors()" 
            [totalCount]="totalCount()"
            (queryChange)="onQueryChange($event)"
            (editDoctor)="onEditDoctor($event)"
            (viewDoctor)="onViewDoctor($event)"
            (deleteDoctor)="onDeleteDoctor($event)" 
            (deleteSelected)="onDeleteSelectedDoctors($event)"
            (addDoctor)="openAddDoctorModal()"></app-doctor-table>
    </div>
</div>

<!-- Modal Overlay -->
@if (isAddDoctorModalOpen) {
<app-doctor-create-modal [isOpen]="isAddDoctorModalOpen" 
    [doctorToEdit]="selectedDoctorForEdit"
    [readOnly]="isDoctorReadOnly()"
    (closeModal)="closeAddDoctorModal()" 
    (saveDoctor)="onDoctorSaved($event)">
</app-doctor-create-modal>
}