<div class="h-full flex flex-col">
    <div class="flex flex-col sm:flex-row sm:items-center justify-between gap-4 mb-6">
        <div>
            <h2 class="text-display-2 text-[#1F2B6C] tracking-tight mb-1">List Doctors</h2>
            <p class="text-sm text-gray-500">There is the latest update for the last 7 days, check now.</p>
        </div>
    </div>

    <div class="bg-white rounded-[20px] border border-gray-100 flex flex-col shadow-sm">
        <app-doctor-table [doctors]="doctors()" (editDoctor)="handleEditDoctor($event)"
            (deleteDoctor)="handleDeleteDoctor($event)" (addDoctor)="openAddModal()">
        </app-doctor-table>
    </div>

    <!-- Custom Reusable Modal for Add Doctor -->
    <app-add-doctor [isOpen]="isAddModalOpen" (save)="handleAddDoctor($event)" (cancel)="closeAddModal()">
    </app-add-doctor>
</div>