<div class="h-full flex flex-col">

    <!-- Page Header -->
    <div class="flex items-center justify-between mb-6">
        <div>
            <h2 class="text-display-2 text-[#1F2B6C] tracking-tight mb-1">List Doctors</h2>
            <p class="text-sm text-gray-500">There is the latest update for the last 7 days, check now.</p>
        </div>
        <button (click)="openAddModal()"
            class="bg-[#159EEC] hover:bg-[#1282C4] text-white px-5 py-2.5 rounded-lg text-sm font-medium transition-colors cursor-pointer">
            Add Doctor
        </button>
    </div>

    <!-- Table Card -->
    <div class="bg-white rounded-xl border border-gray-200 overflow-hidden flex flex-col shadow-sm">
        <app-doctor-table [doctors]="doctors()" (editDoctor)="handleEditDoctor($event)"
            (deleteDoctor)="handleDeleteDoctor($event)">
        </app-doctor-table>
    </div>

    <!-- Custom Reusable Modal for Add Doctor -->
    <app-add-doctor [isOpen]="isAddModalOpen" (save)="handleAddDoctor($event)" (cancel)="closeAddModal()">
    </app-add-doctor>
</div>