<div class="h-full flex flex-col max-w-[1200px] mx-auto w-full">
    <!-- Page Header -->
    <div class="flex items-center justify-between mb-6">
        <div>
            <h2 class="text-display-2 text-[#1F2B6C] tracking-tight mb-1">List Patients</h2>
            <p class="text-sm text-gray-500">There is the latest update for the last 7 days, check now.</p>
        </div>
        <button (click)="openAddPatientModal()"
            class="bg-[#159EEC] hover:bg-[#1282C4] text-white px-5 py-2.5 rounded-lg text-sm font-medium transition-colors cursor-pointer">
            Add Patient
        </button>
    </div>

    <!-- Table Container -->
    <div class="bg-white rounded-xl shadow-sm border border-gray-100 flex-1 flex flex-col overflow-hidden relative">
        <app-patient-table class="flex-1 flex flex-col" [patients]="patients" (editPatient)="onEditPatient($event)"
            (deletePatient)="onDeletePatient($event)"
            (deleteSelected)="onDeleteSelectedPatients($event)"></app-patient-table>
    </div>
</div>

<!-- Modal Overlay -->
@if (isAddPatientModalOpen) {
    <app-patient-create-modal [isOpen]="isAddPatientModalOpen"
        [patientToEdit]="selectedPatientForEdit" (closeModal)="closeAddPatientModal()"
        (savePatient)="onPatientSaved($event)">
    </app-patient-create-modal>
}