<div class="h-full flex flex-col w-full">
    <!-- Page Header -->
    <div class="flex flex-col sm:flex-row sm:items-center justify-between gap-4 mb-6">
        <div>
            <h2 class="text-dashboard-title text-[#1F2B6C] tracking-tight mb-1">Patients</h2>
        </div>
    </div>

    <!-- Table Container -->
    <div class="bg-white rounded-[20px] border border-gray-100 flex-1 flex flex-col relative">
        <app-patient-table class="flex-1 flex flex-col h-full" 
            [patients]="patients()"
            [totalCount]="totalCount()"
            (queryChange)="onQueryChange($event)"
            (editPatient)="onEditPatient($event)" 
            (deletePatient)="onDeletePatient($event)"
            (deleteSelected)="onDeleteSelectedPatients($event)"
            (viewPatient)="onViewPatient($event)"
            (addPatient)="openAddPatientModal()"></app-patient-table>
    </div>
</div>

<!-- Modal Overlay -->
@if (isAddPatientModalOpen) {
<app-patient-create-modal [isOpen]="isAddPatientModalOpen" [patientToEdit]="selectedPatientForEdit"
    (closeModal)="closeAddPatientModal()" (savePatient)="onPatientSaved($event)">
</app-patient-create-modal>
}
